
@model IEnumerable<datamodel.Book>
@{
    Layout ="~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <style>
        .centerForm {
            margin-top: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
    <title>Справочник Книг</title>
</head>
<body>

    <form asp-controller="Book" asp-action="Index">
        <p>
            Название книги: <input type="text" name="searchString" />
            <input type="submit" value="Поиск" />
        </p>
    </form>
    <br />

    @Html.ActionLink("Печать кодов","GenerateBarCode","Book")
    <div>
        @if (Model.Any())
        {
            <table class="table">
                <tr>
                    <th>№</th>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>Издатель</th>
                    <th>Год издания</th>
                    <th>Инвертарный номер</th>
                    <th>Действия</th>

                </tr>
                @foreach (var item in Model)
                {
                    if (item.IsReserved == false)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author.FullName)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.Maker.MakerName)
                        </td>
                        <td>
                            @String.Format("{0:yyyy}", item.Year.Value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InventoryNum)
                        </td>
                        <td>
                            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                        </td>
                        <td>
                            @Html.ActionLink("Сгенерировать qr-code", "GenerateGuid", new { id = item.Id })

                        </td>
                    </tr>
                    }
                }
            </table>
        }
        else
        {
            <p>Нет данных</p>
        }

        @Html.ActionLink("Добавить +", "Add", "Book")

        @if (TempData["message"] != null)
        {
    <script type="text/javascript">

                    alert(@Html.Raw(Json.Encode(TempData["message"])));
    </script>

        }
    </div>


</body>
</html>